.mainAboutContainer {
    width: auto;
    padding-inline: 100px;
 }

.aboutContainer{
    display: flex;
    justify-content: center;
}

.collapseAbout{
    width: 83%;
    margin-top: 40px;
    font-size: 24px;
}

/*Deskop*/
@media screen and (max-width: 768px) {
    .mainAboutContainer {
        padding-inline: 20px;
        min-height: 0;
    }
    .collapseAbout{
        width: 100%;
        font-size: 15px;
         }
}


