.logement {
    margin: 0;
    color: #ff6060;
}

.logement_container {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.logement_infos_loc{
    flex-direction: column;
}

.logement_title {
    font-size: 36px;
    font-weight: 500;
    margin-right: auto;
}

.logement_location {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.logement_tags{
    width: 100%;
    display: flex;
    position: relative;
    gap: 80px;
    margin-top: 20px;
}

.user_stars{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
}

.logement_users{
    align-content: flex-end;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    justify-content: center;
    text-align: right;
    width: min-content;
}

.logement_users img {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    object-fit: cover;
}

.logement_users h3{
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    font-weight: 500;
}

.logement_dropdowns{
    width: 100%;
    display: flex;
    position: relative;
    gap: 60px;
    margin-top: 20px;
}

.logement_list {
    padding-bottom: 5px;
    padding-left: 10px;
    margin: 5px 0;
    list-style: none;
}

/*Tablette*/
@media screen and (max-width: 992px) {
    .logement_title {
        font-size: 18px;
    }
    .logement_location{
        font-size: 14px;
    }
    .logement_container{
    flex-direction: column;
    }
    .user_stars{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .logement_users img{
        justify-items: center;
    }
    .logement_users{
        order: 1;
        justify-content: end;
        width: min-content;
    }
}

@media screen and (max-width: 750px) {
    .logement_content{flex-direction: column;
    }
    .logement_tags{
        display: flex;
        flex-wrap: wrap;
    }
    .logement_users{
        align-items: center;
        width: min-content;
        font-size: smaller;
    }
    .logement_users img {
        border-radius: 50%;
        height: 64px;
        width: 64px;
        object-fit: cover;
    }
    .logement_dropdowns{
        flex-direction: column;
    }
}

@media screen and (max-width: 300px) {
    .logement_users {
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .user_stars{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .logement_users h3{
        display: flex;
        align-items: flex-end;
    }
}
