.accordionTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FF6060;
    padding: 1rem;
    border-radius: 5px;
    color: white;
    height: 40px;
    z-index: 1;
    position: relative;
}

.accordionTitle:hover,.active .accordionTitle {
    cursor: pointer;
}

.accordionContent {
    visibility: hidden;
    height: auto;
    opacity: 0;
    overflow: hidden;
    padding: 0 1rem;
    transition: all .15s ease-in;
    margin-top: -15px;
}

.active .accordionContent {
    display: block;
    visibility: visible;
    overflow: visible;
    padding: 30px;
    transition: 0.3s;
    opacity: 1;
    border-radius: 5px;
    background: #f7f7f7;
    color: #FF6060;
    margin-bottom: 20px;
    justify-content: space-around;
}

.active {
    width: 100%;
    margin: 0;
}

.false {
    width: 100%;
    height: 80px;
    margin: 0;
}

.active i {
    transition: 0.5s;
}

.false i {
    transform:rotate(180deg);
    transition: 0.3s;
}
/*Tablette*/
@media screen and (max-width: 768px) {
    .false {
        margin: 0;
    }
    .active {
        margin: 0;
    }
    .accordionTitle {
        height: 20px;
    }

}
