.footer {
    bottom: 0;
    position: relative;
    width: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    padding-top: 50px;
    padding-bottom: 29px;
    margin-top: 30px;

}

.footer .logo-white {
    width: auto;
    height: auto;
}

/*Tablette*/
@media screen and (max-width: 768px) {
   .footer .logo-white{
       height: 50px;
       margin:auto;
   }
    .footer p {
        padding: 10px;
        font-size: 20px;
        text-align: center;
    }
}

/*Mobile*/
@media screen and (max-device-width: 375px) {
    .footer p {
        padding: 10px;
        font-size: 13px;
        text-align: center;
    }
}
