.carousel {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;;
    border-radius: 25px;
    background-position: center;
    background-objectFit: cover;
}
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.prev:hover,
.next:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
.count {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
